/Baitap_Ontap_Ngay09/build/
/Baitap_Ontap_Ngay09/nbproject/private/
/Java1_Ngay1/Demo_Java_Bai0Baii1/build/
/Java1_Ngay1/Demo_Java_Bai0Baii1/nbproject/private/
/T2207E_Java1_Ngay5/build/
/T2207E_Java1_Ngay5/nbproject/private/
/T2207E_Java_Ngay02/build/
/T2207E_Java_Ngay02/nbproject/private/
/T2207E_Java_Ngay03/build/
/T2207E_Java_Ngay03/dist/
/T2207E_Java_Ngay03/nbproject/private/
/T2207E_Java_Ngay04/build/
/T2207E_Java_Ngay04/nbproject/private/
/T2207E_Java_Ngay06/build/
/T2207E_Java_Ngay06/dist/
/T2207E_Java_Ngay06/nbproject/private/
/T2207E_Java_Ngay07/Chuabai_Ngay06_Kethua/nbproject/private/
/T2207E_Java_Ngay07/T2207E_Java_Ngay07/build/
/T2207E_Java_Ngay07/T2207E_Java_Ngay07/dist/
/T2207E_Java_Ngay07/T2207E_Java_Ngay07/nbproject/private/
/T2208E_Java_Ngay08/build/
/T2208E_Java_Ngay08/nbproject/private/
/Baitap_Ontap_Ngay10/build/
